**/*build/
bin/
docs/
td/
tdlib/

# Libraries related directories
lib/*

# Log files extensions
application_log.txt.*
application_log.txt

*.log
*.binlog
# IDEA related files
.idea/
out/
target/
*.iml